<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.qingy.tallyfriend" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TallyListActivity"
            android:label="@string/title_activity_tally_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TallyEditActivity"
            android:label="@string/title_activity_tally_edit"
            android:parentActivityName=".TallyListActivity" />
        <activity
            android:name=".FriendListActivity"
            android:label="@string/title_activity_friend_list" />
        <activity
            android:name=".FriendEditActivity"
            android:label="@string/title_activity_friend_edit"
            android:parentActivityName=".FriendListActivity" />
        <activity
            android:name=".RecordListActivity"
            android:label="" />
        <activity
            android:name=".RecordEditActivity"
            android:label="" />
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>
